.taustapilt {
  max-width: 1058px;
  min-width: 1058px;
}

.viide {
  position: absolute;
  background-color: orange;
  height: 20px;
  width: 20px;
  border-radius: 50%;
  border-width: 5px;
  border-color: transparent;
  border-style: solid;
}

.viide:hover {
  background-color: red;
  border-color: orange;
  border-style: solid;
}

#uks {
  top: 800px;
  left: 250px;
}

#kaubaluuk {
  top: 440px;
  left: 200px;
}

#konteiner {
  position: relative;
  max-width: 1058px;
  min-width: 1058px;
  margin: 0 auto;
}

#etik {
  top: 900px;
  left: 210px;
}

#aken {
  top: 750px;
  left: 100px;
}
#korsten {
  top: 650px;
  left: 400px;
}
#vahelagi {
  top: 900px;
  left: 400px;
}
#dornseaken {
  top: 600px;
  left: 750px;
}
#diele {
  top: 850px;
  left: 250px;
}
#dornse {
  top: 730px;
  left: 600px;
}

.modal {
  display: none; /* Hidden by default */
  position: fixed; /* Stay in place */
  z-index: 1; /* Sit on top */
  left: 0;
  top: 0;
  width: 100%; /* Full width */
  height: 100%; /* Full height */
  overflow: auto; /* Enable scroll if needed */
  background-color: rgb(0, 0, 0); /* Fallback color */
  background-color: rgba(0, 0, 0, 0.4); /* Black w/ opacity */
}

/* Modal Content/Box */
.modal-content {
  background-color: #fefefe;
  margin: 5% auto; /* 15% from the top and centered */
  padding: 20px;
  border: 1px solid #888;
  width: 80%; /* Could be more or less, depending on screen size */
  max-width: 600px;
}

/* The Close Button */
.close {
  color: #aaa;
  float: right;
  font-size: 28px;
  font-weight: bold;
}

.close:hover,
.close:focus {
  color: black;
  text-decoration: none;
  cursor: pointer;
}

@media (max-width: 768px) {
  .taustapilt {
    max-width: 100%;
    height: auto;
  }
  .viide {
    width: 15px;
    height: 15px;
  }
}

.modal-content img {
  max-width: 100%; /* Pilt ei lähe modaaliaknast laiemaks */
  height: auto; /* Säilitab pildi proportsioonid */
  display: block; /* Tagab, et pilt ei oleks inline ja saaks kasutada margin-efekte */
  margin: 10px 0; /* Lisab pildile veidi ruumi üla- ja alaservas */
}
